{
  "presets": ["cozy-app"],
  "plugins": [
    ["css-modules-transform", {
      extensions: [".styl", ".css"],
      preprocessCss: "./preprocess",
      extractCss: "./dist/stylesheet.css"
    }],
    "transform-runtime"
  ]
}
