{
  "presets": ["cozy-app"],
  "plugins": [
    ["css-modules-transform", {
      extensions: [".styl"],
      preprocessCss: "./preprocess",
      extractCss: "./dist/stylesheet.css"
    }],
    "transform-runtime"
  ],
  "ignore": ["examples/**/*"]
}
